{{{prompt}}}
--- MEMORY.md ---
{{{memory}}}

--- TECH-SPEC ISSUE TITLE ---
{{{title}}}

--- TECH-SPEC ISSUE BODY ---
{{{body}}}
{{#commands}}

--- TEST RUN COMMANDS ---
New tests command (must end up exit 0): {{{red-green}}}
Regression tests command (must end up exit 0): {{{regression}}}
{{/commands}}
